<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1#%{REQUEST_URI} ([^#]*)#(.*?)\1$
RewriteRule ^(.*)$ %2index.php
</IfModule>

#<ifmodule mod_deflate.c>
#	AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript
#</ifmodule>

#<FilesMatch "\.(ico|js|css)$">
#Header set Cache-Control "max-age=172800, public"
#</FilesMatch>

#php_flag magic_quotes_gpc off
#php_flag register_globals off
#php_flag short_open_tag on

#php_value upload_max_filesize 1024M
#php_value post_max_size 1024M
